.portfolio-card {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  transition: transform 0.3s ease;
  width: 100%;
  aspect-ratio: 4 / 3; /* Maintain the aspect ratio */
}

.portfolio-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.portfolio-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the card without distortion */
  transition: transform 0.3s ease;
}

.portfolio-card:hover .portfolio-card-image {
  transform: scale(1.1);
}

.title-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.portfolio-card:hover .title-overlay {
  opacity: 1;
}

.portfolio-card-title {
  color: #ffffff;
  font-size: 1.5em;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 10px;
}